<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <style>
    @-moz-document url-prefix() {
    fieldset { display: table-cell; }
    }
    ul {
    list-style-type: none;
    }
    </style>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->


    <!-- Modal NEW RESIDENT ========================================== -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Resident</h4>
          </div>
          <div class="modal-body">
            <p>Fill out this form to register a new resident.</p>



            <form id="newResidentForm" action="/new" method="post" onsubmit="return validateForm()">
              <fieldset class="form-group">
                <label for="formGroupExampleInput">Pin Number</label>
                <input name="newPinNumber" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Pin Here" autocomplete="off">
              </fieldset>
              <fieldset class="form-group">
                <label for="formGroupExampleInput2">First Name</label>
                <input name="newFirstName" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter First Name Here" autocomplete="off">
              </fieldset>
              <fieldset class="form-group">
                <label for="formGroupExampleInput3">Last Name</label>
                <input name="newLastName" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Last Name Here" autocomplete="off">
              </fieldset>

              <fieldset class="form-group">
                <label for="formGroupExampleInput4">Staff Passphrase</label>
                <input name="staffPassphrase" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter the secret passphrase" autocomplete="off">
              </fieldset>

              <input class="btn btn-default" type="submit" value="Submit">
            </form>







          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>







    <div class="container body_div">
        <div class="container">
            <h1><%= title %></h1>
        </div>
        <!-- DISPLAY TABLE OF RESIDENTS CURRENTLY PRESENT -->
        <div class="container">
            <h1 class="lead"><%= presentTableTitle %></h1>
        </div>
        <div class="container residents-in-table-box">
            <table id="tablePresentID" class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th class="col-lg-4">First Name</th>
                        <th>Last Name</th>
                        <th>Time In</th>
                        <!-- <th class="col-lg-2">Notes</th> -->
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < presentResidentsList.length; i++) { %>
                    <tr>
                        <th><%= i %></th>
                        <td><%= presentResidentsList[i].firstName %></td>
                        <td><%= presentResidentsList[i].lastName %></td>
                        <td><%= presentResidentsList[i].timeStamp %></td>
                        <!-- <td></td> -->
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="container">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#mySignInSignOutModal">Sign Out / Sign In</button>
        </div>
        <!-- THIS TABLE SHOWS THE RESIDENTS THAT ARE CURRENTLY AWAY FORM THE HOUSE -->
        <div class="container">
            <h1 class="lead"><%= notPresentTableTitle %></h1>
        </div>
        <div class="container residents-out-table-box">
            <table id="tableNotPresentID" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th class="col-lg-4" >First Name</th>
                        <th>Last Name</th>
                        <th>Time Out</th>
                        <th class="col-lg-2">Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < notPresentResidentsList.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i %></th>
                        <td><%= notPresentResidentsList[i].firstName %></td>
                        <td><%= notPresentResidentsList[i].lastName %></td>
                        <td><%= notPresentResidentsList[i].timeStamp %></td>
                        <td><%= notPresentResidentsList[i].reasonNotPresent %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>





    <!-- Modal CELL FROM TABLE INFO ========================================== -->


<!-- <a data-toggle="modal" href="#myTableModal" class="btn btn-primary btn-lg">Launch demo modal</a> -->

<div class="modal fade" id="myTableModal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 id="firstNameModalLabel" class="modal-title">Modal title</h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-condensed table-hover">
          <thead>
          </thead>
          <tbody class="table">
              <tr>
                  <td>In/Out</td>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Note</td>
              </tr>
              <tr>
                  <td>a</td>
                  <td>table</td>
                  <td>table</td>
                  <td>table</td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-diauserActivityLog -->
</div><!-- /.modal -->






<!--

<script>
var table = document.getElementById("tableNotPresentID");
if (table != null) {
    for (var i = 0; i < table.rows.length; i++) {
        for (var j = 0; j < table.rows[i].cells.length - 1; j++)
        table.rows[i].cells[j].onclick = function () {
            tableNotPresentText(this);
        };
    }
}

var table = document.getElementById("tablePresentID");
if (table != null) {
    for (var i = 0; i < table.rows.length; i++) {
        for (var j = 0; j < table.rows[i].cells.length - 1; j++)
        table.rows[i].cells[j].onclick = function () {
            tablePresentText(this);
        };
    }
}


function tableNotPresentText(tableCell) {
    //alert(tableCell.innerHTML);
    var cellString = tableCell.innerHTML;
    var myModalTitle = document.getElementById('firstNameModalLabel')

    <% for (var i = notPresentResidentsList.length - 1; i >= 0; i--) { %>

        // match first names
        if (cellString == "<%= notPresentResidentsList[i].firstName %>") {
            var fullName = "<%= notPresentResidentsList[i].firstName + " " + notPresentResidentsList[i].lastName %>"
            myModalTitle.innerHTML = fullName
           console.log(fullName)
           $('#myTableModal').modal('show')
        };

        // match lastNames
        if (cellString == "<%= notPresentResidentsList[i].lastName %>") {
            var fullName = "<%= notPresentResidentsList[i].firstName + " " + notPresentResidentsList[i].lastName %>"
            myModalTitle.innerHTML = fullName
           console.log(fullName)
           $('#myTableModal').modal('show')
        };



    <%};%>


}



    function tablePresentText(tableCell) {
    //alert(tableCell.innerHTML);
    var cellString = tableCell.innerHTML;
    var myModalTitle = document.getElementById('firstNameModalLabel')

    <% for (var i = notPresentResidentsList.length - 1; i >= 0; i--) { %>

        // match first names
        if (cellString == "<%= presentResidentsList[i].firstName %>") {
            var fullName = "<%= presentResidentsList[i].firstName + " " + presentResidentsList[i].lastName %>"
            myModalTitle.innerHTML = fullName
           console.log(fullName)
           $('#myTableModal').modal('show')
        };

        // match lastNames
        if (cellString == "<%= presentResidentsList[i].lastName %>") {
            var fullName = "<%= presentResidentsList[i].firstName + " " + presentResidentsList[i].lastName %>"
            myModalTitle.innerHTML = fullName
           console.log(fullName)
           $('#myTableModal').modal('show')
        };



    <%};%>

}

</script>
 -->

    <!-- Modal SIGN IN / SIGN OUT ========================================== -->
    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySignInSignOutModal">Open Modal</button> -->
    <!-- Modal -->
    <div id="mySignInSignOutModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter 4-Digit Pin</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="/add" method="post">
                            <input type="text" name="newItem" placeholder="Enter Pin Here" autocomplete="off">
                            <input id="reasonInputTextField" type="text" name="newReason" placeholder="Enter Reason Here" autocomplete="off">
                            <input class="btn btn-default" type="submit" value="Submit">
                        </form>
                    </div>
                    <br>
                    <p>Enter your pin number to sign in.</p>
                    <p><strong>OR</strong></p>
                    <p>Enter your pin number and a reason if you want to sign out.</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#myModal">New Resident</button>


                </div>

            </div>
        </div>
    </div>





    <script>
    function validateForm() {
        var x = document.forms["newResidentForm"]["newPinNumber"].value;
        var y = document.forms["newResidentForm"]["newFirstName"].value;
        var z = document.forms["newResidentForm"]["newLastName"].value;
        var a = document.forms["newResidentForm"]["staffPassphrase"].value;
        if (x == null || x == "") {
            alert("Pin Number must be filled out");
            return false;
        }
        if (y == null || y == "") {
            alert("First Name must be filled out");
            return false;
        }
        if (z == null || z == "") {
            alert("Last Name must be filled out");
            return false;
        }

        if (a == null || a == "") {
            alert("Enter the Staff member passphrase");
            return false;
        }


        if (x != null && y != null && z != null) {
            var conf_x = prompt("Confirm your new pin number!")
            if (conf_x != x) {
                return false;
            };

        };



    }







    </script>




</body>
</html>